// Variables
@link-color:        #428bca; // sea blue
@link-color-h:  darken(@link-color, 10%);
@con: darken(@link-color-h, 80%);

body {
    background: @link-color-h;
}

#container {
    background: @con;
}